* {margin:0; padding:0; box-sizing: border-box; }
ul,ol,li {list-style:none; }
a {text-decoration: none;}
img,video {vertical-align:top; }
table {border-collapse: collapse; }
input,select,textarea {outline:0; }
textarea {resize:none; }
body {font-size:13px; line-height:1; font-family: 'Gowun Dodum', sans-serif; overflow-x:hidden; }

#headerWrap {position:absolute; left:0; top:0; width:100%; display:flex; justify-content:end; z-index:1; }
#headerWrap .gnb {display:flex; margin-right:3%;}
#headerWrap .gnb li a {display:inline-block; line-height:80px; margin:0 20px; color:#8aaaa9; 
                       font-family: 'Raleway', sans-serif; font-size:16px; }
#headerWrap .gnb li.on a {color:#6f9796; font-weight:500; text-decoration:underline; transition:all 0.3s;}
#headerWrap .gnb li:hover a {color:#6f9796; font-weight:500; text-decoration:underline; }

@import url('https://fonts.googleapis.com/css?family=Poppins:700');
#main {margin: 0; padding: 0; width: 100vw; height: 100vh; overflow: hidden;
      position: relative; background: #feefc5; display: flex; align-items: center; }

#main h1 {color: white; font-size: 18vmin; line-height: 1; font-weight: bold;  letter-spacing: 2px; font-family: 'Raleway', sans-serif;
   text-transform: uppercase; padding-left: 40px; position:relative;  }

#main .blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #93d5d3;
  width: 50vmax;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

#main .scBtn {cursor:pointer;}
#main .scBtn p,#arrow {position:absolute; bottom:40px; left:50%; transform:translateX(-50%); 
                  color:#fff; font-size:30px;}
#main .scBtn p {font-size:17px; bottom:55px; font-weight:600;}
#main .scBtn #arrow {animation-name:scrollMover; 
                animation-duration: 2s; animation-timing-function:linear; 
                animation-iteration-count: infinite; }
@keyframes scrollMover {
  0% {bottom:40px; opacity:1;}
  100% {bottom:20px; opacity:0;}
}

.aboutMe {display:flex; align-items: center; height:100vh; }
.aboutMe .menuBox {width:30%; height:100vh; background:rgba(198,208,208,0.5); }
.aboutMe .innerBox {width:70%; }
.aboutMe .innerBox .info2 { background:#fffef1;  height:86vh; display:flex; justify-content:center; align-items:center; flex-direction:column; }
.aboutMe .innerBox .info2 h3 {text-align: center; font-family: 'Raleway', sans-serif; font-weight:500; margin-bottom:50px; color:#555;}

.circles {width:800px; display:flex; justify-content:space-between; flex-wrap:wrap; }
.circle_wrap {margin-bottom:40px;}
.circle_wrap h4 {font-size:1rem; text-align: center;}
.circle_wrap h4 img {width:20px; margin-right:5px; }
.circle_wrap .circle {width:160px; height:160px; border-radius: 50%; padding:20px; background: #f7f6e9; position: relative; margin: 10px; }
.circle_wrap .circle .inner {width:100%; height:100%; border-radius:50%; background:#fffae7; position:relative;}
.circle_wrap .circle .inner .count {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); font-size:14px; font-weight:500; }
.circle_wrap .circle svg {position:absolute; left:0; top:0; }
.circle_wrap .circle svg circle {fill:transparent; stroke-width:20px; stroke:url(#GradientColor); stroke-dashoffset: 440; stroke-dasharray: 440; 
                                 transition:all 1.5s;}
.circle_wrap:nth-child(1).on .circle svg circle {stroke-dashoffset: 44;}
.circle_wrap:nth-child(2).on .circle svg circle {stroke-dashoffset: 44;}
.circle_wrap:nth-child(3).on .circle svg circle {stroke-dashoffset: 88;}
.circle_wrap:nth-child(4).on .circle svg circle {stroke-dashoffset: 132;}
.circle_wrap:nth-child(5).on .circle svg circle {stroke-dashoffset: 154;}
.circle_wrap:nth-child(6).on .circle svg circle {stroke-dashoffset: 88;}
.circle_wrap:nth-child(7).on .circle svg circle {stroke-dashoffset: 132;}
.circle_wrap:nth-child(8).on .circle svg circle {stroke-dashoffset: 88;}
.rwd {height:100vh; display:flex; justify-content:end; }
.rwd .innerBox {width:79%; background:rgba(198,208,208,0.15); display:flex; flex-wrap:wrap; justify-content:space-around; }
.rwd .innerBox > div {width:45%; }
.rwd .innerBox > div:nth-child(3) {width:35%; }
.rwd .innerBox > div:nth-child(3) > div {display: flex; }
.rwd .innerBox > div:nth-child(3) > div img {width:65%;}
.rwd .innerBox > div:nth-child(4) {width:35%; }
.rwd .innerBox > div:nth-child(4) > div {display: flex; }
.rwd .innerBox > div:nth-child(4) > div img {width:65%;}
.rwd .innerBox > div h3 {margin:15px 0;}
.rwd .innerBox > div .screen {position:relative; text-align:center; } 
.rwd .innerBox > div .screen a {display:block; height:100%; }
.rwd .innerBox > div .screen img {width:58%; transition:all 0.5s; }
.rwd .innerBox > div .screen .hovicon {width:90px; height:90px; border-radius:50%; border:1px solid #fff; text-align: center; 
                                             line-height:90px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); 
                                             color:#fff; font-weight:bold; font-size:15px; opacity:0; transition:all 0.5s; z-index:10;
                                             animation:clickBtn 1s infinite; box-shadow:0 0 0 0 rgba(235,166,65,0.5); font-size:19px; }
.rwd .innerBox > div:nth-child(3) .screen .hovicon,
.rwd .innerBox > div:nth-child(4) .screen .hovicon {width:70px; height:70px; line-height:70px; font-size:14px; }
.rwd .innerBox > div .screen a:hover .hovicon {opacity:1; }
.rwd .innerBox > div .screen a:hover img {-webkit-filter:blur(3px);}
.rwd .innerBox > div .txt {padding-left:102px; padding-top:15px;}
.rwd .innerBox > div .txt h4 {margin-bottom:15px; border-bottom:2px solid #6f9796; font-family: 'Raleway', sans-serif; font-weight:500;
                                    padding-bottom:5px; padding-left:8px; width:200px; color:#555; }
.rwd .innerBox > div:nth-child(3) .txt h4,
.rwd .innerBox > div:nth-child(4) .txt h4 {font-size:1.2rem; }
.rwd .innerBox > div .txt p {font-size:14px; line-height:20px; margin-bottom:7px;}
.rwd .innerBox > div .txt p i {margin-right:5px; }
.rwd .innerBox > div .txt p a {font-weight:bold; color:#000; }
.rwd .innerBox > div .txt p span {font-weight:bold; color:#ccc; margin:0 5px;}
.rwd .innerBox > div.no3 .txt,
.rwd .innerBox > div.no4 .txt {padding-left:30px; padding-top:0;}

.web {height:100vh; display:flex; justify-content:end; position:relative; }
.web .word_bg {position:absolute; right:-695px; top:50%; transform:translateY(-50%) rotate(90deg); color:rgba(198,208,208,0.15); font-weight:bold; font-size:260px;
               -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.web .innerBox {width:79%; display:flex; align-items: center; }
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
.web img {
  width: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 12px;

  color: #fff;
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.web .img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid #f8d5a1;
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: #f8d5a1;
  border-right-color: #f8d5a1;
}

/* ul */
.web ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color:#fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.web li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

.web li i {
  margin-right:5px;
}

.web li:nth-child(2n) {
  color: var(--white-1);
}

.web li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
.web a {
  display:block;
  font-family: inherit;
  font-weight: bold;
  color: #fff;

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

.web a:hover,
.web a:focus {
  color: #f9b553;
  background: rgba(265,265,265,0.5);
  border-color: #f8d5a1;
}

.web a:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
.web button:hover+.design-container,
.web button:active+.design-container,
.web button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

.pagerWrap {width:30%; height:100vh; position:fixed; left:0; top:0; }
.pagerWrap .logo {width:80px; height:80px; margin-left:50px;}
.pagerWrap .logo a {display:block; height:100%;}
.pagerWrap .logo img {width:100%; }
.pagerWrap .pager {position:absolute; left:5px; top:50%; transform:translateY(-50%); opacity:0; transition:all 0.3s;}
.pagerWrap .pager li a {display:block; color:#8e8e8e; font-size:22px; padding:15px 20px; width:220px; transition:all 0.3s;
                        border-bottom:1px solid #8e8e8e; margin-bottom:15px; font-family: 'Raleway', sans-serif; font-weight:500; }
.pagerWrap .pager li a .bi {color:#7faaa9; position:static; margin-right:15px; opacity:0; transition:all 0.1s; }
.pagerWrap .pager li.on a {font-weight: 800; font-size:25px; border-bottom:1.5px solid #7faaa9; color:#7faaa9; width:245px;}
.pagerWrap .pager li.on a .bi {opacity:1; }
.pagerWrap .pager.on {opacity:1; }

@keyframes clickBtn{
  0% {box-shadow:0 0 0 0 rgba(255,191,171,0.4);}
  70% {box-shadow:0 0 0 30px rgba(255,191,171,0);}
  100% {box-shadow:0 0 0 0 rgba(255,191,171,0);}
}

.contact {display:flex; height:100vh; }
.contact .menuBox {width:30%; background:#f8fdfd; }
.contact .innerBox {width:70%; display:flex; }
.contact .innerBox img {width:58%; }
.contact .innerBox .txt {margin:auto 20px; position:relative; padding:40px; background:#fff; }
.contact .innerBox .txt .round {width:15px; height:15px; position:absolute; background:#f7bd69; 
                                left:0; top:0; border-radius:50%; animation:circleMove 7s 1s infinite; opacity:0;}
.contact .innerBox .txt h3 {font-size:20px; color:#555; }
.contact .innerBox .txt .name {margin-bottom:40px; font-size:22px; font-weight:bold; text-decoration: underline;}
.contact .innerBox .txt p {font-size:15px; color:#999; margin-bottom:40px; }

@keyframes circleMove{
  0% {opacity:0; left:0; top:0; }
  25% {opacity:1; left:100%; top:0; }
  50% {opacity:1; left:100%; top:100%; }
  75% {opacity:1; left:0; top:100%; }
  100% {opacity:1; left:0; top:0; }
}
